.container {
  text-align: center;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 36px;
  letter-spacing: 2px;
  margin: -10px 0 0 0;
  padding-top: 20px;
  /* padding-bottom: 20px; */
  line-height: 1;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 10px;
}
